asgiref
autopep8
certifi
charset-normalizer
Django
djangorestframework
idna
joblib
mysqlclient
numpy
pandas
pycodestyle
pygame
python-dateutil
pytz
requests
scikit-learn
scipy
six
sqlparse
threadpoolctl
toml
typing_extensions
urllib3
dotenv 
google-generativeai
